<!DOCTYPE html>
<html>

  <head>
    <title>Home | Crowdy</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main-Silian.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
  </head>

    <body ng-app="directoryApp" ng-controller="SilianController">
      <div class="container">
        <div class="header">
          <h1>Crowdy</h1>
            <div class="form-popup" id="checkIn" ng-show="showForm">
                <form action=" /action_page.php" class=" = "form-container" >
                    <label for="theatre"> Theatre</label>
                    <input type="text" placeholder="Enter theatre" name="theatre" required />
                    <label for="movie">Movie</label>
                    <input type="text" placeholder="Enter Movie Name" name="movie" required />
                    <button type="submit" class="button sec" ng-click="hideCheckin()">Finish</button>
                </form>
            </div>
          <button class=" button sec" ng-click="showCheckin()">Check in</button>
          <button class=" button sec">sign in</button>
          <button class=" button sec">create an account</button>
            <div>
              <div class="input-group" id="searchBar">
                <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
                <input type="text" class="form-control" placeholder="Search" ng-model="query">
              </div>
            </div>
        </div>
        <div id="map" class="map"></div>
        <div class="movie-container">
          <ul id="movie-app" class="movies">
            <li v-for="movie in movies">
              <img :src="movie.image.url" :alt="movie.image.alt" />
              <p> {{ movie.name }} </p>
            </li>
          </ul>
        </div>
        <div class="movie-info">
          <p>MOVIE INFO HERE</p>
        </div>
        <div class="footer">
          <button class = "button sec" >feedback</button>
          <button class="button sec">Show all times</button>
        </div>
      </div>

    <script src="js/maps.js"></script>
    <script src="js/vue.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3FQZhMHSjlgZ1GlA_EPlOp-7DWSInsWU&callback=initMap"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/listingFactory.js"></script>
    <script src="js/controllers/silianController.js"></script>
  </body>
</html>
