<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <div class="row">
        <h1>Crowdy</h1>
      </div>
      <div class="row" ng-controller="ListingsController">
         <button class="btn btn-primary" ng-click="list()">Display all times</button>

        <div class="col-md-6">
          <div class="input-group" id="searchBar">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="query">
          </div>
            <form novalidate class=" = "simple-form">
                <img src="https://img.swamprentals.com/uploads/radimages/gainesville-map-700x481.jpg" />
            </form>

          <form novalidate class="simple-form">
            <button class="btn btn-primary" style="width:200px" ng-click="addListing()">Check In</button>
          </form>
        </div>
      </div>
 <div class="col-xs-offset-9 col-xs-3">
              <table class="table table-striped table-hover" id="table2" style="display:none">
              <tbody>
              <tr>
                <th>Movie</th>
                <th>Ratings</th>
                <th>Times</th>
                <th>Theatre</th>
              </tr>
          </tbody>
    <!-- Change the query to the new database stuff--> 
              <tr ng-repeat="listing in listings | filter: query" ng-click="showDetails($index)">
                <td>{{listing.code}}</td>
                <td>{{listing.name}}</td>
                <td ng-click="deleteListing($index)"><span style="color: red;" class="glyphicon glyphicon-remove"></span></td>
              </tr>
            </table>
    </div>
    <div class="Information">
        More Info
    </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/listingFactory.js"></script>
    <script src="js/controllers/listingController.js"></script>

  </body>
</html>
