<div id="movie-container">


  <section class="option-container" [ngStyle]="{'display':showOptions}">
      <div class="option-top" (click)="doShowTheaters()">
          <article>
              <button class="option-button btn btn-link" >Show Theaters</button>
          </article>
      </div>
      <div class="option-bottom" (click)="doShowMovies()">
          <article>
              <button class="option-button btn btn-link">Show Movies</button>
          </article>
      </div>
  </section>

  <section class="theaters-container" [ngStyle]="{'display':showTheaters}">
      <button class="btn btn-primary" (click)="doShowOptions()">Back</button>
      <h3>Theaters</h3>
      <div class="theater-container">
          <div class="movie-option" (click)="doShowNewberry()">
              <article>
                  <button class="option-button btn btn-link" >Royal Park</button>
              </article>
          </div>
          <div class="movie-option" (click)="doShowCelebration()">
              <article>
                  <button class="option-button btn btn-link">Celebration</button>
              </article>
          </div>
          <div class="movie-option" (click)="doShowButler()">
              <article>
                  <button class="option-button btn btn-link">Butler Plaza</button>
              </article>
          </div>
      </div>
  </section>

  <section class="movies-container" [ngStyle]="{'display':showMovies}">
    <header>
      <button class="btn btn-primary" (click)="doShowOptions()">Back</button>
      <h3>Movies</h3>
    </header>
    <figure *ngFor="let movie of allMoviesArr">
        <img src="{{ movie.poster_image_thumbnail }}" class="fullsize" alt="this image could not be loaded at this time">
        <figcaption>{{ movie.title }}</figcaption>
      </figure>
  </section>

  <section class="newberry-container" [ngStyle]="{'display':showNewberry}">
    <header>
      <button class="btn btn-primary" (click)="doShowTheaters()">Back</button>
      <h3>Royal Park</h3>
      <p><ngb-progressbar type="{{this.royalParkBar}}" [value]="(this.royalParkAvg-1)*25">{{royalParkAvg}}</ngb-progressbar></p>

    </header>
      <input [(ngModel)]="searchText" placeholder="search by title">
      <ngb-accordion [closeOthers]="true">
        <ngb-panel *ngFor="let movie of newberryMoviesArr | filter : searchText; let i = index;" id="static-{{i}}" >
          <ng-template ngbPanelTitle class="overflow-wrap">
            <span class="overflow-wrap">
              <h5 class="mb-0 pl-0">
                <button class="pl-0 btn btn-link text-center">
                  {{ movie.title }}
                </button>
              </h5>
            </span>
          </ng-template>
          <ng-template ngbPanelContent>
              <div style="flex-direction: row;">
                  <div style="flex:1;">
                    <ul class="list-group">
                      <li *ngFor="let time of newberryMovieTimes[i]" class="list-group-item">
                        {{ time.start_at }}
                      </li>
                    </ul>
                  </div>
                  <div style="flex:1;">
                    <img src="{{ movie.poster_image_thumbnail }}" alt="img could not be loaded at this time">
                  </div>
                </div>

          </ng-template>
        </ngb-panel>
      </ngb-accordion>
  </section>

  <section class="celebration-container" [ngStyle]="{'display':showCelebration}">
    <header>
      <button class="btn btn-primary" (click)="doShowTheaters()">Back</button>
      <h3>Celebration Point</h3>
      <p><ngb-progressbar type="{{this.celebrationBar}}" [value]="(this.celebrationAvg-1)*25">{{celebrationAvg}}</ngb-progressbar></p>
    </header>
    <input [(ngModel)]="searchText" placeholder="search by title">
    <ngb-accordion [closeOthers]="true">
        <ngb-panel *ngFor="let movie of celebrationMoviesArr | filter : searchText; let i = index;" id="static-{{i}}" >
          <ng-template ngbPanelTitle class="overflow-wrap">
            <span class="overflow-wrap">
              <h5 class="mb-0 pl-0">
                <button class="pl-0 btn btn-link text-center">
                  {{ movie.title }}
                </button>
              </h5>
            </span>
          </ng-template>
          <ng-template ngbPanelContent>
                <div style="flex-direction: row;">
                    <div style="flex:1;">
                      <ul class="list-group">
                        <li *ngFor="let time of celebrationMovieTimes[i]" class="list-group-item">
                          {{ time.start_at }}
                        </li>
                      </ul>
                    </div>
                    <div style="flex:1;">
                      <img src="{{ movie.poster_image_thumbnail }}" alt="img could not be loaded at this time">
                    </div>
                  </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
  </section>

  <section class="butler-container" [ngStyle]="{'display':showButler}">
    <header>
      <button class="btn btn-primary" (click)="doShowTheaters()">Back</button>
      <h3>Butler Plaza</h3>
      <p><ngb-progressbar type="{{this.butlerBar}}" [value]="(this.butlerAvg-1)*25">{{butlerAvg}}</ngb-progressbar></p>
    </header>
    <input [(ngModel)]="searchText" placeholder="search by title">
    <ngb-accordion [closeOthers]="true">
      <ngb-panel *ngFor="let movie of butlerMoviesArr | filter : searchText; let i = index;" id="static-{{i}}" >
        <ng-template ngbPanelTitle class="overflow-wrap">
          <span class="overflow-wrap">
            <h5 class="mb-0 pl-0">
              <button class="pl-0 btn btn-link text-center">
                {{ movie.title }}
              </button>
            </h5>
          </span>
        </ng-template>
        <ng-template ngbPanelContent>
              <div style="flex-direction: row;">
                  <div style="flex:1;">
                    <ul class="list-group">
                      <li *ngFor="let time of butlerMovieTimes[i]" class="list-group-item">
                        {{ time.start_at }}
                      </li>
                    </ul>
                  </div>
                  <div style="flex:1;">
                    <img src="{{ movie.poster_image_thumbnail }}" alt="img could not be loaded at this time">
                  </div>
                </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </section>

</div>
