<div id="movie-container">


  <section class="option-container" [ngStyle]="{'display':showOptions}">
      <div class="option-top" (click)="doShowTheaters()">
          <article>
              <button class="option-button btn btn-link" >Show Theaters</button>
          </article>
      </div>
      <div class="option-bottom" (click)="doShowMovies()">
          <article>
              <button class="option-button btn btn-link">Show Movies</button>
          </article>
      </div>
  </section>

  <section class="movies-container" [ngStyle]="{'display':showMovies}">
    <header>
      <button class="btn btn-primary" (click)="doShowOptions()">Back</button>
      <h3>Movies</h3>
    </header>
    <ul>
        <li *ngFor="let movie of allMoviesArr; let i = index;">
          {{ movie.title }}
        </li>
    </ul>
      <!-- <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Movie #1
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              Example times 1
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Movie #2
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              example times 2
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Movie #3
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              example times 3
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div class="card-body">
          <h4>Butler</h4>
          <ul>
            <li *ngFor="let time of allMovieTimes[i].showtimes">
              <div *ngIf="time.cinema_id == 42490">
                <p>{{ time.start_at }}</p>
              </div>
            </li>
          </ul>
          <h4>Newberry</h4>
          <ul>
            <li *ngFor="let time of allMovieTimes[i].showtimes">
              <div *ngIf="time.cinema_id == 42506">
                <p>{{ time.start_at }}</p>
              </div>
            </li>
          </ul>
          <h4>Celebration</h4>
          <ul>
            <li *ngFor="let time of allMovieTimes[i].showtimes">
              <div *ngIf="time.cinema_id == 42490">
                <p>{{ time.start_at }}</p>
              </div>
            </li>
          </ul>
        </div> -->


  </section>

  <section class="theaters-container" [ngStyle]="{'display':showTheaters}">
      <button class="btn btn-primary" (click)="doShowOptions()">Back</button>
      <h3>Theaters</h3>
      <div class="option-bottom" (click)="doShowNewberry()">
          <article>
              <button class="option-button btn btn-link" >Newberry</button>
          </article>
      </div>
      <div class="option-bottom" (click)="doShowCelebration()">
          <article>
              <button class="option-button btn btn-link">Celebration</button>
          </article>
      </div>
      <div class="option-bottom" (click)="doShowButler()">
          <article>
              <button class="option-button btn btn-link">Butler Plaza</button>
          </article>
      </div>
  </section>

  <section class="newberry-container" [ngStyle]="{'display':showNewberry}">
    <header>
      <button class="btn btn-primary" (click)="doShowTheaters()">Back</button>
      <h3>Newberry</h3>
    </header>
    <div id ="newberry-accordian">
       <!-- each movie will be a card -->
      <div class="card" *ngFor="let movie of newberryMoviesArr; let i = index;">
        <!-- Movie title will go in card header -->
        <div class="card-header" [attr.id]="'heading' + i">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#collapse' + i" aria-expanded="true" [attr.aria-controls]="'collapse' + i">
              {{ movie.title }}
            </button>
          </h5>
        </div>
        <!-- this shows all the times for each movie at the newberry theater -->
        <div [attr.id]="'collapse'+i" class="collapse show" [attr.aria-labelledby]="'heading' + i" data-parent="#newberry-accordion">
          <div class="card-body">
            <div style="width: 60%; float:left">
              <ul class="list-unstyled">
                <li *ngFor="let time of newberryMovieTimes[i]">
                  {{ time.start_at }}
                </li>
              </ul>
            </div>
            <div style="width: 40%; float:right">
              <img src="{{ movie.poster_image_thumbnail }}" alt="img could not be loaded">
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="celebration-container" [ngStyle]="{'display':showCelebration}">
    <header>
      <button class="btn btn-primary" (click)="doShowTheaters()">Back</button>
      <h3>Celebration Point</h3>
    </header>
    <div id ="celebration-accordian">
        <!-- each movie will be a card -->
       <div class="card" *ngFor="let movie of celebrationMoviesArr; let i = index;">
         <!-- Movie title will go in card header -->
         <div class="card-header" [attr.id]="'heading' + i">
           <h6 class="mb-0">
             <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#collapse' + i" aria-expanded="true" [attr.aria-controls]="'collapse' + i">
               {{ movie.title }}
             </button>
           </h6>
         </div>
         <!-- this shows all the times for each movie at the celebration theater -->
         <div [attr.id]="'collapse'+i" class="collapse show" [attr.aria-labelledby]="'heading' + i" data-parent="#celebration-accordion">
           <div class="card-body">
             <ul class="list-unstyled">
               <li *ngFor="let time of celebrationMovieTimes[i]">
                  {{ time.start_at }}
               </li>
             </ul>
           </div>
         </div>

       </div>
     </div>
  </section>

  <section class="butler-container" [ngStyle]="{'display':showButler}">
    <header>
      <button class="btn btn-primary" (click)="doShowTheaters()">Back</button>
      <h3>Butler Plaza</h3>
    </header>
    <div id ="butler-accordian">
        <!-- each movie will be a card -->
       <div class="card" *ngFor="let movie of butlerMoviesArr; let i = index;">
         <!-- Movie title will go in card header -->
         <div class="card-header" [attr.id]="'heading' + i">
           <h5 class="mb-0">
             <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#collapse' + i" aria-expanded="true" [attr.aria-controls]="'collapse' + i">
               {{ movie.title }}
             </button>
           </h5>
         </div>
         <!-- this shows all the times for each movie at the butler theater -->
         <div [attr.id]="'collapse'+i" class="collapse show" [attr.aria-labelledby]="'heading' + i" data-parent="#butler-accordion">
           <div class="card-body">
             <ul class="list-unstyled">
               <li *ngFor="let time of butlerMovieTimes[i]">
                  {{ time.start_at }}
               </li>
             </ul>
           </div>
         </div>

       </div>
     </div>

  </section>

</div>
