html, body, .container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.map {
  height: 100%;
  width: 100%;
  grid-area: map;
}

.container {
  display: grid;
  grid-template-rows: 1fr 6fr 4fr 1fr;
  grid-template-areas: "header" "map" "movies" "footer";
}

.header, .footer, .movies {
  padding: 1em;
}
.header{
  grid-area: header;
  background: #f00;
  padding: .5em;
}
.footer{
  grid-area: footer;
  background: #0f0;
}
.movies {
  grid-area: movies;
  background: #00f;
}
