.movies {
  height: 92.5vh;
  overflow-y: scroll;
}
.map {
  height: 92.5vh;
}
.header{
  height: 7.5vh;
}
.noPadding {
  padding: 0 !important;
}
.botBorder {
  border-bottom: 1px;
  border-color: #222;
}
