.movies {
  height: 92.5vh;
}
.map {
  height: 92.5vh;
}
.header{
  height: 7.5vh;
  width: 100%;
}
.noPadding {
  padding: 0 !important;
}
.padding-0{
  padding-right:0;
  padding-left:0;
}
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}
.navbar {
  margin-bottom: 0 !important;
}
.hidex{
  overflow-x: hidden;
}
.modal-backdrop.fade
{
  opacity: 0.5 !important;
}
#feedbackform, #testPopup{
  width: 550px;
  padding: 8% 0 0;
  margin: auto;
  
}
#feedbackform{
  margin-top: -50px;
}
.modal-open .modal
{
  opacity: 1;
}
// .modal {
//   display: none; /* Hidden by default */
//   position: fixed; /* Stay in place */
//   z-index: 1; /* Sit on top */
//   left: 0;
//   top: 0;
//   width: 100%; /* Full width */
//   height: 100%; /* Full height */
//   overflow: auto; /* Enable scroll if needed */
//   background-color: rgb(0,0,0); /* Fallback color */
//   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
// }