<!DOCTYPE html>
<html>
  <head>
    <title>Crowdy</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  </head>


    <body>
      <div class="container">
        <div class="header">
          <h1>Crowdy</h1>
          <button class=" button sec" (click)="showHideCheckin()">Check in</button>
          <button class=" button sec" (click)="logout()"> sign out</button>
            <div>
              <div class="input-group" id="searchBar">
                <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
                <input type="text" class="form-control" placeholder="Search" [value]="searchBy" >
              </div>
            </div>

        </div>
        <div #gmap id="map" class="map"></div>
        <div class="movie-container">
          <ul class="movies">
            <li *ngFor="let movie of moviesDb | async">
              {{ movie.name }}
              {{ movie.time }}
            </li>
          </ul>
          <br>
          <ul class="movies">
            <li *ngFor="let theater of theaterDb | async">
              {{ theater.name }}
              {{ theater.ass }}
            </li>
          </ul>

          <div id="txt2"[hidden]="tableshow">
        	  <table class="table table-striped table-hover" id="table">
              	  <tbody>
              		  <tr>
                		  <th>Movie</th>
               			  <th>Ratings</th>
                		  <th>Times</th>
                		  <th>Theatre</th>
              		  </tr>
          		  </tbody>
              	  <tr *ngFor="let movie of moviesDb | async " (click)=[showDetails($index)]>
                	  <td>{{movie.name}}</td>
                	  <td>{{movie.time}}</td>
              	  </tr>
              </table>
          </div>

        </div>

        <div class="footer">
          <button class = "button sec" >feedback</button>
          <button class="button sec" (click)=showTable()>Show all times</button>
        </div>
      </div>

      <div class="modal" id="testPopup" [ngStyle]="{'display':showCheckin}">
        <div class="modal-content">
          <div action=" /action_page.php" class="form-group" >
              <label for="theatre"> Theatre</label>
              <select name="theatre">
                  <option *ngFor="let movie of moviesDb | async" [value]="movie.name">{{movie.name}}</option>
              </select>
              <label for="movie">Movie</label>
              <input type="text" placeholder="Enter Movie Name" name="movie" required />
              <button type="button" name="closeCheckIn" class="close" (click)="showHideCheckin()">Check In</button>
          </div>
        </div>
      </div>


    </body>
</html>
