<!DOCTYPE html>
<html>
  <head>
    <title>Crowdy</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  </head>


    <body>
      <div class="container">
        <div class="header">
          <img class ="logo" src="../../assets/images/logo.svg" alt="crowdy logo with popcorn movie glasses and film">
          <button class=" btn btn-info" (click)="checkIn()">Check in</button>
          <button class=" btn btn-info" (click)="logout()"> sign out</button>
          <br>
            <div>
              <div class="input-group" id="searchBar">
                <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchBy" (ngModelChange)= "filterByName()">
              </div>
            </div>

        </div>
        <div #gmap id="map" class="map"></div>
        <div class="movie-container">
          <ul class="movies">
            <li *ngFor="let movie of moviesDb | async">
              {{ movie.name }}
              {{ movie.time }}
            </li>
          </ul>
          <br>
          <ul class="movies">
            <li *ngFor="let theater of theaterDb | async">
              {{ theater.name }}
              {{ theater.ass }}
            </li>
          </ul>
        </div>
        
      <div class="modal" id="txt2" [ngStyle]="{'display':tableshow}">
        <div class="modal-content">
          <div class="modal-header"><h2>All Times</h2></div>
          <div class="modal-body">
            <table class="table table-striped table-hover" id="table">
                  <tbody>
                    <tr>
                      <th>Movie</th>
                      <th>Busy</th>
                      <th>Times</th>
                      <th>Theater</th>
                    </tr>
                </tbody>
                  <tr *ngFor="let movie of moviesDb | async " (click)=[showDetails($index)]>
                    <td>{{movie.name}}</td>
                    <td>{{movie.busyValue}}</td>
                    <td>{{movie.time}}</td>
                    <td>{{movie.theater}}</td>
                  </tr>
              </table>
              <a (click)="showTable()">Hide</a>
          </div>
        </div>
      </div>

        <div class="footer">
          <button class="btn btn-info" (click)=showfeedback() >Contact Us!</button>
          <button class="btn btn-info" (click)=showTable()>Show all times</button>
        </div>
      </div>

      <div class="modal" id="testPopup" [ngStyle]="{'display':showCheckin}">
       <div class="modal-content">
		<div class="modal-header">
		  <span class="close" (click)="hideCheckIn()" >&times;</span>
		  <h2>Check in with Crowdy!</h2>
		</div>
		<div class="modal-body">
          <div action=" /action_page.php" class="form-group" >
              <br><label for="theatre"> Theatre</label>
              <select #theaterOption name="theatre" #theaterChosen>
                  <option *ngFor="let theater of theaterDb | async" [value]="theater.name">{{theater.name}}</option>
              </select>
              <label for="busyLevel">How busy this Theatre?</label>
              <select #busyOption class="" name="busy">
                <option [value]="1">1</option>
                <option [value]="2">2</option>
                <option [value]="3">3</option>
                <option [value]="4">4</option>
                <option [value]="5">5</option>
              </select>
          </div>
		</div>
			<!-- Send button -->
			<div class="modal-footer">
				<button class="btn btn-info " type="close" (click)=hideCheckIn() >Cancel</button>
				<button type="button" name="closeCheckIn" class="btn btn-info " (click)="submitCheckin(theaterOption, busyOption)">Check In</button>
			</div>

        </div>
      </div>

      <div class="modal" id="feedbackform">
        <div class="modal-content">
			<div class="text-center border border-light p-5">
				<div class="modal-header">
				  <span class="close" (click)=hidefeedback() >&times;</span>
				  <h2>Contact Us</h2>
				</div>
				<div class="modal-body">
					<!-- Name -->
					<br><input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">
					<!-- Email -->
					<br><input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">
					<!-- Subject -->
					<br><label>Subject</label>
					<select class="browser-default custom-select mb-4">
						<option value="" disabled>Choose option</option>
						<option value="1" selected>Feedback</option>
						<option value="2">Report a bug</option>
						<option value="3">Feature request</option>
					</select>
					<br>

					<!-- Message -->
					<div class="form-group">
						<textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
					</div>
				</div>
				<!-- Send button -->
				<div  class="modal-footer">
					<button class="btn btn-info " type="close" (click)=hidefeedback()>Cancel</button>
					<button class="btn btn-info " type="submit" (click)=sendfeedback()>Send</button>
				</div>
			</div>
        </div>
      </div>


    </body>
</html>
