<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <div class="row" >
        <h1>UF Directory App</h1>
      </div>
      <div class="row" ng-controller="ListingsController">
        <div class="col-md-6">
          <div class="input-group" id="searchBar">
            <!--

                Implement a way to filter through listings using the search bar

              -->
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
          </div>

          <div class="tableWrapper">
            <table class="table table-striped table-hover">
              <tr>
                <th>Code</th>
                <th>Building Name</th>
                <th>Delete</th>
                <th>Details</th>
              </tr>
              <tr></tr>
              <tr ng-repeat="listing in listings | filter:searchText">
                <th>{{listing.code}}</th>
                <th>{{listing.name}}</th>
                <th><button ng-click="deleteListing(listing)" class ="btn btn-danger btn-sm" >DELETE <span class="glyphicon glyphicon-trash"></span></button></th>
                <th><button ng-click="showDetails(listing)" class="btn btn-info btn-sm" >DETAILS</button></th>
              </tr>

              <!--

                  Fill in the rest of the table:
                      * populate the rows with the code and name of each listing
                      * include a way to remove individual listings

                -->
            </table>
          </div>
          <br><br>
          <button ng-click="showAdd()" class="addbutton">Add a listing</button>
          <h1 class="header">{{myshow}}</h1>
          <div ng-show="myshow" class="well">
            <div class="alert alert-danger" ng-show="alert">
            Both name and class must be filled out to add a record!
            </div>
            <form>
              Code: <input type="text" name="code" ng-model="newobj.code" ng-required="required"><br>
              Building Name: <input type="text" name="building" ng-model="newobj.name" ng-required="required"><br>
              Adress: <input type="text" name="address" ng-model="newobj.address"><br>
              Coordinates<br>
              Latitude: <input type="text" name="longitude" ng-model="newobj.longitude"><br>
              Longitude: <input type="text" name="latitude" ng-model="newobj.latitude"><br>
              <input type="submit" ng-click="hideAdd()"><br>
            </form>
          </div>
          <!--

              Write an HTML form that adds newobj listings to the directory

            -->
        </div>
        <div class="col-md-6">
          <div class="jumbotron">
            <h2 class="header">Detailed Information</h2>
            <p class=detailedInfoClass ng-hide="detailedInfo">NOTHING TO SHOW. Select an item to see the detailed info. </p>

            <!--

              Include a way to display detailed information about an individual listing:
                   * consider how to use ng-click within the the table to implement this feature

             -->
             <p class=detailedInfoClass ng-show="detailedInfo.name">Name: {{detailedInfo.name}}</p>
             <p class=detailedInfoClass ng-show="detailedInfo.code">Code: {{detailedInfo.code}}</p>
             <p class=detailedInfoClass ng-show="detailedInfo.address">Address: {{detailedInfo.address}}</p>
             <p class=detailedInfoClass ng-show="detailedInfo.coordinates.longitude">Longitude: {{detailedInfo.coordinates.longitude}}</p>
             <p class=detailedInfoClass ng-show="detailedInfo.coordinates.latitude">Latitude: {{detailedInfo.coordinates.latitude}}</p>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
  </body>
</html>
