#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

.detailedInfoClass {
  font-size: 8px;
  font-family:monospace;
}

.header{
  font-size: 24px;
  font-family: fantasy;
}

.addbutton{
  background-color: #4CAF50;
  border: 2px solid black;
  padding: 15px 32px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}
